@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-bites-brown overflow-x-hidden;
  }
}

.swiper-pagination-bullet-active {
  background: #4a2c2a !important;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fdf5e6;
}
::-webkit-scrollbar-thumb {
  background: #4a2c2a;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

/* Ocultar barra de scroll pero mantener funcionalidad */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}